.form {
    width: 700px;
    margin: 0 auto;
    padding: 20px 0 ;
}

.shorten-title {
   text-align: center;
    font-size: 22px;
}

.input {
    width: 100%;
    font-size: 16px;
    padding: 10px 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.shorten {
    text-align: center;
    padding: 30px 0;
}

.btn-shorten {
    font-size: 20px;
    background: #1E90FF;
    border: 2px solid #1E90FF;
    padding: 5px 8px;
    border-radius: 4px;
    color: #fff;
}
.link {
    padding: 10px 0;
    text-align: center;
}